# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/package.json
/node_modules/
/gulpfile.js
/bower_components/
